
.main {
    width: 100vw;
    height: 100vw;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    margin: 0 auto;
    
}
.modalWrapper {
    display: flex;
    max-height: 235px;
    background-color: rgb(234, 75, 54);
    flex-direction: column;
    max-width: 50vw;
    color: white;
    margin-top: 30px;
    margin-left: 140px;
    align-items: center;
}

.modalHeader {
    display: flex;
    justify-content:space-evenly;
    font-size: 16px;
    height: 50px;
    color: white;
    background-color: rgb(214, 69, 50);
    width: 100%;
    align-items: center;
}

.modalText {
    display: flex;
    text-align: center;
    width: 90%;
    margin-top: 5%;
}

.btnWrapper {
    display: flex;
    margin-bottom: 20px;
    margin-top: 30px;
}
