.root {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 24px;
    width: 100%;
    height: 50px;
    background: #3b5998;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    font-family: sans-serif;

    h1 {
        margin-right: 200px;
    }

    ul {
        list-style: none;
        display: flex;
        padding: 0;
        margin-left: 10px;
    }

    li {
        margin: 0 0px;
    }

    span {
        color: red;
    }
}