.app__buttons {
  text-align: center;
  margin-top: 15%;
  box-sizing: border-box;
  padding: 24px;
}

main {
  display: flex;
}

h1 {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
}

h2 {
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: center;
}
