.btnPrimary {
    padding: 16px 32px;
    display: inline-block;
    font-size: 20px;
    margin: 20px 40px;
    cursor: pointer;
    color: white;
    border-radius: 10px;
}
.btnSmall {
    background-color: rgb(214, 69, 50);
    font-size: 2b0px;
    color: white;
    border: 0;
    cursor: pointer;
}
.btnSecondary {
    background-color: rgb(180, 55, 37);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    border: 0;
    margin: 0 5px;
    width: 110px;
    cursor: pointer;
}
.actionBtn {
    background-color: rgb(236, 198, 8);
        padding: 10px 20px;
        border-radius: 5px;
        color: white;
        font-size: 20px;
        border: 0;
        margin: 0 5px;
        width: 110px;
        cursor: pointer;
}